/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/lato-regular.eot");
  src: url("../fonts/lato-regular.eot") format("embedded-opentype"), url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.ttf") format("truetype"), url("../fonts/lato-regular.svg#LatoBold") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LatoItalic';
  src: url("../fonts/lato-italic.eot");
  src: url("../fonts/lato-italic.eot") format("embedded-opentype"), url("../fonts/lato-italic.woff") format("woff"), url("../fonts/lato-italic.ttf") format("truetype"), url("../fonts/lato-italic.svg#LatoBold") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/lato-light.eot");
  src: url("../fonts/lato-light.eot") format("embedded-opentype"), url("../fonts/lato-light.woff") format("woff"), url("../fonts/lato-light.ttf") format("truetype"), url("../fonts/lato-light.svg#LatoLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLightItalic';
  src: url("../fonts/lato-lightitalic.eot");
  src: url("../fonts/lato-lightitalic.eot") format("embedded-opentype"), url("../fonts/lato-lightitalic.woff") format("woff"), url("../fonts/lato-lightitalic.ttf") format("truetype"), url("../fonts/lato-lightitalic.svg#LatoLightItalic") format("svg");
}
@font-face {
  font-family: 'LatoHairline';
  src: url("../fonts/lato-hairline.eot");
  src: url("../fonts/lato-hairline.eot") format("embedded-opentype"), url("../fonts/lato-hairline.woff") format("woff"), url("../fonts/lato-hairline.ttf") format("truetype"), url("../fonts/lato-hairline.svg#LatoBold") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'LatoHairlineItalic';
  src: url("../fonts/lato-hairlineitalic.eot");
  src: url("../fonts/lato-hairlineitalic.eot") format("embedded-opentype"), url("../fonts/lato-hairlineitalic.woff") format("woff"), url("../fonts/lato-hairlineitalic.ttf") format("truetype"), url("../fonts/lato-hairlineitalic.svg#LatoBold") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'base';
  src: url("../fonts/base.eot?1o50p");
  src: url("../fonts/base.eot?#iefix1o50p") format("embedded-opentype"), url("../fonts/base.woff?1o50p") format("woff"), url("../fonts/base.ttf?1o50p") format("truetype"), url("../fonts/base.svg?1o50p#base") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_icons.scss */
[class^="icon-"],
[class*=" icon-"],
a.service-links-twitter,
a.service-links-facebook,
a.service-links-google-plus {
  font-family: 'base';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 29, ../sass/_icons.scss */
[class^="icon-"] img,
[class*=" icon-"] img,
a.service-links-twitter img,
a.service-links-facebook img,
a.service-links-google-plus img {
  display: none;
}

/* line 34, ../sass/_icons.scss */
.icon-cart:before {
  content: "\e610";
}

/* line 37, ../sass/_icons.scss */
.icon-bubble:before {
  content: "\e611";
}

/* line 40, ../sass/_icons.scss */
.icon-cog:before {
  content: "\e612";
}

/* line 43, ../sass/_icons.scss */
.icon-close:before {
  content: "\e613";
}

/* line 46, ../sass/_icons.scss */
.icon-checkmark:before {
  content: "\e614";
}

/* line 49, ../sass/_icons.scss */
.icon-minus:before {
  content: "\e615";
}

/* line 52, ../sass/_icons.scss */
.icon-plus:before {
  content: "\e616";
}

/* line 55, ../sass/_icons.scss */
.icon-feed:before {
  content: "\e601";
}

/* line 58, ../sass/_icons.scss */
.icon-youtube:before {
  content: "\e602";
}

/* line 61, ../sass/_icons.scss */
.icon-vimeo:before {
  content: "\e603";
}

/* line 64, ../sass/_icons.scss */
.icon-apple:before {
  content: "\e604";
}

/* line 67, ../sass/_icons.scss */
.icon-amazon:before {
  content: "\e605";
}

/* line 70, ../sass/_icons.scss */
.icon-mail:before {
  content: "\e606";
}

/* line 73, ../sass/_icons.scss */
.icon-heart:before {
  content: "\e617";
}

/* line 76, ../sass/_icons.scss */
.icon-heart2:before {
  content: "\e618";
}

/* line 79, ../sass/_icons.scss */
.icon-search:before {
  content: "\e619";
}

/* line 82, ../sass/_icons.scss */
.icon-list:before {
  content: "\e60f";
}

/* line 85, ../sass/_icons.scss */
.icon-play:before {
  content: "\e61a";
}

/* line 88, ../sass/_icons.scss */
.icon-pause:before {
  content: "\e61b";
}

/* line 91, ../sass/_icons.scss */
.icon-stop:before {
  content: "\e61c";
}

/* line 94, ../sass/_icons.scss */
.icon-next:before {
  content: "\e61d";
}

/* line 97, ../sass/_icons.scss */
.icon-previous:before {
  content: "\e61e";
}

/* line 100, ../sass/_icons.scss */
.icon-first:before {
  content: "\e61f";
}

/* line 103, ../sass/_icons.scss */
.icon-last:before {
  content: "\e620";
}

/* line 106, ../sass/_icons.scss */
.icon-resize-enlarge:before {
  content: "\e621";
}

/* line 109, ../sass/_icons.scss */
.icon-resize-shrink:before {
  content: "\e622";
}

/* line 112, ../sass/_icons.scss */
.icon-sound:before {
  content: "\e623";
}

/* line 115, ../sass/_icons.scss */
.icon-mute:before {
  content: "\e624";
}

/* line 118, ../sass/_icons.scss */
.icon-arrow-left:before {
  content: "\e625";
}

/* line 121, ../sass/_icons.scss */
.icon-arrow-down:before {
  content: "\e626";
}

/* line 124, ../sass/_icons.scss */
.icon-arrow-up:before {
  content: "\e627";
}

/* line 127, ../sass/_icons.scss */
.icon-arrow-right:before {
  content: "\e628";
}

/* line 130, ../sass/_icons.scss */
.icon-flickr:before {
  content: "\e607";
}

/* line 133, ../sass/_icons.scss */
.icon-twitter:before,
a.service-links-twitter:before {
  content: "\e608";
}

/* line 137, ../sass/_icons.scss */
.icon-facebook:before,
a.service-links-facebook:before {
  content: "\e609";
}

/* line 141, ../sass/_icons.scss */
.icon-googleplus:before,
a.service-links-google-plus:before {
  content: "\e60a";
}

/* line 145, ../sass/_icons.scss */
.icon-pinterest:before {
  content: "\e60b";
}

/* line 148, ../sass/_icons.scss */
.icon-tumblr:before {
  content: "\e60c";
}

/* line 151, ../sass/_icons.scss */
.icon-linkedin:before {
  content: "\e629";
}

/* line 154, ../sass/_icons.scss */
.icon-spotify:before {
  content: "\e600";
}

/* line 157, ../sass/_icons.scss */
.icon-instagram:before {
  content: "\e60d";
}

/* line 160, ../sass/_icons.scss */
.icon-soundcloud:before {
  content: "\e60e";
}

/* line 167, ../sass/_icons.scss */
.block-btns a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 170, ../sass/_icons.scss */
.block-btns a:hover {
  color: #fff !important;
}
/* line 175, ../sass/_icons.scss */
.block-btns .icon-vimeo:hover {
  background-color: #aad450;
}
/* line 178, ../sass/_icons.scss */
.block-btns .icon-twitter:hover {
  background-color: #00aced;
}
/* line 181, ../sass/_icons.scss */
.block-btns .icon-facebook:hover {
  background-color: #3b5998;
}
/* line 184, ../sass/_icons.scss */
.block-btns .icon-googleplus:hover {
  background-color: #dd4b39;
}
/* line 187, ../sass/_icons.scss */
.block-btns .icon-pinterest:hover {
  background-color: #cb2027;
}
/* line 190, ../sass/_icons.scss */
.block-btns .icon-instagram:hover {
  background-color: #517fa4;
}

@font-face {
  font-family: 'bhicons';
  src: url("../fonts/bhicons.eot?x4rhfq");
  src: url("../fonts/bhicons.eot?#iefixx4rhfq") format("embedded-opentype"), url("../fonts/bhicons.woff?x4rhfq") format("woff"), url("../fonts/bhicons.ttf?x4rhfq") format("truetype"), url("../fonts/bhicons.svg?x4rhfq#bhicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_bh_icons.scss */
[class^="bh-icon-"], [class*=" bh-icon-"] {
  font-family: 'bhicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_bh_icons.scss */
.bh-icon-classic-computer:before {
  content: "\e600";
}

/* line 31, ../sass/_bh_icons.scss */
.bh-icon-creative-commons-attribution:before {
  content: "\e601";
}

/* line 35, ../sass/_bh_icons.scss */
.bh-icon-creative-commons-noderivs:before {
  content: "\e602";
}

/* line 39, ../sass/_bh_icons.scss */
.bh-icon-creative-commons-noncommercial-us:before {
  content: "\e603";
}

/* line 43, ../sass/_bh_icons.scss */
.bh-icon-warning:before {
  content: "\e604";
}

/* line 47, ../sass/_bh_icons.scss */
.bh-icon-arrow-bold-down:before {
  content: "\e605";
}

/* line 51, ../sass/_bh_icons.scss */
.bh-icon-arrow-bold-left:before {
  content: "\e606";
}

/* line 55, ../sass/_bh_icons.scss */
.bh-icon-arrow-bold-right:before {
  content: "\e607";
}

/* line 59, ../sass/_bh_icons.scss */
.bh-icon-arrow-bold-up:before {
  content: "\e608";
}

/* line 63, ../sass/_bh_icons.scss */
.bh-icon-arrow-with-circle-down:before {
  content: "\e609";
}

/* line 67, ../sass/_bh_icons.scss */
.bh-icon-cloud:before {
  content: "\e60a";
}

/* line 71, ../sass/_bh_icons.scss */
.bh-icon-dots-three-horizontal:before {
  content: "\e60b";
}

/* line 75, ../sass/_bh_icons.scss */
.bh-icon-download:before {
  content: "\e60c";
}

/* line 79, ../sass/_bh_icons.scss */
.bh-icon-emoji-flirt:before {
  content: "\e60d";
}

/* line 83, ../sass/_bh_icons.scss */
.bh-icon-trash:before {
  content: "\e60e";
}

/* line 87, ../sass/_bh_icons.scss */
.bh-icon-triangle-down:before {
  content: "\e637";
}

/* line 91, ../sass/_bh_icons.scss */
.bh-icon-triangle-left:before {
  content: "\e638";
}

/* line 95, ../sass/_bh_icons.scss */
.bh-icon-triangle-right:before {
  content: "\e639";
}

/* line 99, ../sass/_bh_icons.scss */
.bh-icon-triangle-up:before {
  content: "\e63a";
}

/* line 103, ../sass/_bh_icons.scss */
.bh-icon-address:before {
  content: "\e60f";
}

/* line 107, ../sass/_bh_icons.scss */
.bh-icon-battery:before {
  content: "\e610";
}

/* line 111, ../sass/_bh_icons.scss */
.bh-icon-block:before {
  content: "\e611";
}

/* line 115, ../sass/_bh_icons.scss */
.bh-icon-cake:before {
  content: "\e612";
}

/* line 119, ../sass/_bh_icons.scss */
.bh-icon-camera:before {
  content: "\e613";
}

/* line 123, ../sass/_bh_icons.scss */
.bh-icon-chat:before {
  content: "\e614";
}

/* line 127, ../sass/_bh_icons.scss */
.bh-icon-check:before {
  content: "\e615";
}

/* line 131, ../sass/_bh_icons.scss */
.bh-icon-clock:before {
  content: "\e616";
}

/* line 135, ../sass/_bh_icons.scss */
.bh-icon-code:before {
  content: "\e617";
}

/* line 139, ../sass/_bh_icons.scss */
.bh-icon-cog:before {
  content: "\e618";
}

/* line 143, ../sass/_bh_icons.scss */
.bh-icon-credit:before {
  content: "\e619";
}

/* line 147, ../sass/_bh_icons.scss */
.bh-icon-flash:before {
  content: "\e61a";
}

/* line 151, ../sass/_bh_icons.scss */
.bh-icon-heart:before {
  content: "\e61b";
}

/* line 155, ../sass/_bh_icons.scss */
.bh-icon-help:before {
  content: "\e61c";
}

/* line 159, ../sass/_bh_icons.scss */
.bh-icon-home:before {
  content: "\e61d";
}

/* line 163, ../sass/_bh_icons.scss */
.bh-icon-info-with-circle:before {
  content: "\e61e";
}

/* line 167, ../sass/_bh_icons.scss */
.bh-icon-key:before {
  content: "\e61f";
}

/* line 171, ../sass/_bh_icons.scss */
.bh-icon-lab-flask:before {
  content: "\e620";
}

/* line 175, ../sass/_bh_icons.scss */
.bh-icon-laptop:before {
  content: "\e621";
}

/* line 179, ../sass/_bh_icons.scss */
.bh-icon-lifebuoy:before {
  content: "\e622";
}

/* line 183, ../sass/_bh_icons.scss */
.bh-icon-light-bulb:before {
  content: "\e623";
}

/* line 187, ../sass/_bh_icons.scss */
.bh-icon-line-graph:before {
  content: "\e624";
}

/* line 191, ../sass/_bh_icons.scss */
.bh-icon-link:before {
  content: "\e625";
}

/* line 195, ../sass/_bh_icons.scss */
.bh-icon-lock:before {
  content: "\e626";
}

/* line 199, ../sass/_bh_icons.scss */
.bh-icon-man:before {
  content: "\e627";
}

/* line 203, ../sass/_bh_icons.scss */
.bh-icon-mask:before {
  content: "\e628";
}

/* line 207, ../sass/_bh_icons.scss */
.bh-icon-mobile:before {
  content: "\e629";
}

/* line 211, ../sass/_bh_icons.scss */
.bh-icon-pie-chart:before {
  content: "\e62a";
}

/* line 215, ../sass/_bh_icons.scss */
.bh-icon-price-tag:before {
  content: "\e62b";
}

/* line 219, ../sass/_bh_icons.scss */
.bh-icon-rocket:before {
  content: "\e62c";
}

/* line 223, ../sass/_bh_icons.scss */
.bh-icon-shop:before {
  content: "\e62d";
}

/* line 227, ../sass/_bh_icons.scss */
.bh-icon-shopping-cart:before {
  content: "\e62e";
}

/* line 231, ../sass/_bh_icons.scss */
.bh-icon-sound-mix:before {
  content: "\e62f";
}

/* line 235, ../sass/_bh_icons.scss */
.bh-icon-stopwatch:before {
  content: "\e630";
}

/* line 239, ../sass/_bh_icons.scss */
.bh-icon-tools:before {
  content: "\e631";
}

/* line 243, ../sass/_bh_icons.scss */
.bh-icon-tree:before {
  content: "\e632";
}

/* line 247, ../sass/_bh_icons.scss */
.bh-icon-user:before {
  content: "\e633";
}

/* line 251, ../sass/_bh_icons.scss */
.bh-icon-facebook:before {
  content: "\e634";
}

/* line 255, ../sass/_bh_icons.scss */
.bh-icon-instagram:before {
  content: "\e635";
}

/* line 259, ../sass/_bh_icons.scss */
.bh-icon-twitter:before {
  content: "\e636";
}

/* VARS 
-------------------------------------------------------------- */
/*  COLORS  */
/*  TYPOGROPHY */
/*  TRANSITIONS  */
/* MIX-INS 
-------------------------------------------------------------- */
/* PLACEHOLDERS & EXTENDS
-------------------------------------------------------------- */
/* line 79, ../sass/_base.scss */
#nav a {
  color: #fff;
}
/* line 82, ../sass/_base.scss */
#nav a:hover {
  color: #80b1d2;
}

/* line 87, ../sass/_base.scss */
#nav .cta-btn {
  color: #495259;
}
/* line 90, ../sass/_base.scss */
#nav .cta-btn:hover {
  color: #fff;
}

/* line 95, ../sass/_base.scss */
#footer a {
  color: #80b1d2;
}
/* line 98, ../sass/_base.scss */
#footer a:hover {
  color: #fff;
}

/* line 103, ../sass/_base.scss */
h1, h2, h3, h4, #nav a, #footer .label, .slide p, .arrows, label, input[type='submit'] {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

/* BASIC STYLES
-------------------------------------------------------------- */
/* line 10, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 13, ../sass/style.scss */
* img {
  max-width: 100%;
  height: auto;
}

/* line 19, ../sass/style.scss */
body {
  font: 16px/1.5 "Open Sans", sans-serif;
  background-color: #fff;
  color: #495259;
}

/* line 25, ../sass/style.scss */
a {
  color: #80b1d2;
  text-decoration: none;
}
/* line 29, ../sass/style.scss */
a:hover {
  color: #495259;
}

/* line 35, ../sass/style.scss */
ul,
ul.menu,
ul.menu li {
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/style.scss */
h1 span, h2 span, h3 span, h4 span {
  font-style: italic;
}

/* line 52, ../sass/style.scss */
h1 {
  font-size: 4em;
  text-align: center;
  line-height: 60px;
}

/* line 58, ../sass/style.scss */
h2 {
  font-size: 3em;
}

/* line 62, ../sass/style.scss */
h3 {
  font-size: 2em;
  text-align: center;
}

/* line 67, ../sass/style.scss */
.fancy {
  font-style: italic;
}

/* line 71, ../sass/style.scss */
p .highlight {
  font-weight: 700;
}

/* Icons
-------------------------------------------------------------- */
/* line 77, ../sass/style.scss */
.icons.header,
.icons.footer {
  text-align: center;
  font-size: 8em;
  margin-bottom: 40px;
  position: relative;
}

/* line 86, ../sass/style.scss */
.icons.footer {
  margin-bottom: 0;
  margin-top: 40px;
}

/* Header
-------------------------------------------------------------- */
/* line 95, ../sass/style.scss */
#header {
  background-color: #495259;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
@media (max-width: 1080px) {
  /* line 95, ../sass/style.scss */
  #header {
    height: 50px;
    line-height: 50px;
  }
}

/* line 117, ../sass/style.scss */
#logo {
  float: left;
  width: 230px;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 200;
}
/* line 125, ../sass/style.scss */
#logo span {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  width: 300px;
  height: 300px;
  background-color: #495259;
  display: block;
  position: absolute;
  top: -200px;
  left: -30px;
  z-index: -1;
}
@media (max-width: 1080px) {
  /* line 117, ../sass/style.scss */
  #logo {
    width: 180px;
    padding-left: 10px;
    padding-top: 10px;
  }
  /* line 143, ../sass/style.scss */
  #logo span {
    width: 200px;
    height: 200px;
    top: -130px;
    left: -10px;
  }
}

/* line 152, ../sass/style.scss */
#nav {
  *zoom: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: right;
  position: relative;
  top: 0;
  right: 0;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 164, ../sass/style.scss */
#nav li {
  float: left;
}
/* line 169, ../sass/style.scss */
#nav a {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  display: block;
  padding: 0 20px;
}
/* line 180, ../sass/style.scss */
#nav a.active {
  color: #80b1d2;
}
/* line 185, ../sass/style.scss */
#nav .cta-btn {
  background-color: #80b1d2;
  padding: 0 40px;
  margin-left: 20px;
}
@media (max-width: 1080px) {
  /* line 152, ../sass/style.scss */
  #nav {
    background-color: #3e454b;
    text-align: center;
    width: 100%;
    position: absolute;
    margin: 0;
    padding-top: 10px;
    z-index: 1;
    top: -300px;
  }
  /* line 202, ../sass/style.scss */
  #nav li {
    display: block;
    float: none;
    margin-right: 0;
  }
  /* line 208, ../sass/style.scss */
  #nav .cta-btn {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* line 217, ../sass/style.scss */
body.nav-open #nav {
  top: 0;
}
@media (max-width: 1080px) {
  /* line 222, ../sass/style.scss */
  body.nav-open #nav {
    top: 50px;
  }
}

/* line 228, ../sass/style.scss */
.menu-toggle {
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #80b1d2;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  z-index: 100;
}
/* line 244, ../sass/style.scss */
.menu-toggle:hover {
  background-color: #495259;
}
@media (max-width: 1080px) {
  /* line 228, ../sass/style.scss */
  .menu-toggle {
    display: block;
  }
}

/* CONTENT
-------------------------------------------------------------- */
/* line 257, ../sass/style.scss */
#content {
  padding-top: 80px;
}
/* line 260, ../sass/style.scss */
#content .header-image {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #80b1d2;
}
/* line 269, ../sass/style.scss */
#content .section .inner {
  max-width: 1200px;
  margin: auto;
  padding: 80px;
}
/* line 279, ../sass/style.scss */
#content .section p {
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  text-align: justify;
  font-size: 1.2em;
}
/* line 287, ../sass/style.scss */
#content .section p + p,
#content .section h3 + p,
#content .section h1 + p,
#content .section p + h3,
#content .section h3 {
  margin-top: 40px;
}

/* line 298, ../sass/style.scss */
.front #content {
  padding-top: 0;
}

/* line 302, ../sass/style.scss */
.bg-dk {
  background-color: #495259;
  color: #fff;
}

/* line 307, ../sass/style.scss */
.bg-lt {
  background-color: #cad2d7;
}

/* line 311, ../sass/style.scss */
.bg-accent {
  background-color: #80b1d2;
}

/* line 315, ../sass/style.scss */
.bg-med {
  background-color: #dfeffa;
}

/* line 319, ../sass/style.scss */
.image-divider {
  position: relative;
  height: 60vh;
  border-top: #80b1d2 solid 20px;
  border-bottom: #80b1d2 solid 20px;
}

/* COMIC
-------------------------------------------------------------- */
/* line 329, ../sass/style.scss */
#comic {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#comic:after {
  content: "";
  display: table;
  clear: both;
}

/* line 333, ../sass/style.scss */
.cell {
  width: 25%;
  height: 500px;
  float: left;
}

/* line 339, ../sass/style.scss */
#cell-1 {
  background-color: #6da5cb;
}

/* line 343, ../sass/style.scss */
#cell-2 {
  background-color: #5a9ac5;
}

/* line 347, ../sass/style.scss */
#cell-3 {
  background-color: #488ebe;
}

/* line 351, ../sass/style.scss */
#cell-4 {
  background-color: #3e81ae;
}

/* Publisher
-------------------------------------------------------------- */
/* line 362, ../sass/style.scss */
#pub-divider-1 {
  background: url("../images/BH-demo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 362, ../sass/style.scss */
  #pub-divider-1 {
    background: url("../images/BH-demo.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* line 366, ../sass/style.scss */
#pub-divider-2 {
  background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 366, ../sass/style.scss */
  #pub-divider-2 {
    background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* About
-------------------------------------------------------------- */
/* line 375, ../sass/style.scss */
body.about .header-image {
  background: url(../images/BH-about-header.jpg) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 384, ../sass/style.scss */
.members,
.investors {
  *zoom: 1;
  margin-top: 40px;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.members:after,
.investors:after {
  content: "";
  display: table;
  clear: both;
}

/* line 390, ../sass/style.scss */
.member,
.investor {
  max-width: 33.3%;
  padding: 20px;
  float: left;
}
/* line 396, ../sass/style.scss */
.member .image,
.investor .image {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 401, ../sass/style.scss */
.member .image img,
.investor .image img {
  width: 100%;
  height: auto;
}
/* line 407, ../sass/style.scss */
.member h2,
.investor h2 {
  font-size: 1.5em;
  text-align: center;
}
/* line 412, ../sass/style.scss */
.member h3,
.investor h3 {
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 400;
}

/* line 420, ../sass/style.scss */
.investor {
  max-width: 25%;
}

/* FOOTER
-------------------------------------------------------------- */
/* line 427, ../sass/style.scss */
#footer {
  text-align: center;
  background-color: #495259;
}
/* line 432, ../sass/style.scss */
#footer h3 {
  color: #fff;
}
/* line 436, ../sass/style.scss */
#footer a {
  font-weight: 400;
}
/* line 441, ../sass/style.scss */
#footer li {
  margin-top: 10px;
}
/* line 445, ../sass/style.scss */
#footer .label {
  color: #fff;
}
/* line 450, ../sass/style.scss */
#footer .inner {
  padding: 80px;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#footer .inner:after {
  content: "";
  display: table;
  clear: both;
}
/* line 455, ../sass/style.scss */
#footer .social-icons {
  font-size: 4em;
}
/* line 459, ../sass/style.scss */
#footer .section.logo {
  margin-bottom: 40px;
}
/* line 462, ../sass/style.scss */
#footer .section.logo img {
  width: 100px;
}
/* line 468, ../sass/style.scss */
#footer .section + .section {
  margin-top: 20px;
}

/* line 473, ../sass/style.scss */
#copy {
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  background-color: #3e454b;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* INTRO
-------------------------------------------------------------- */
/* line 486, ../sass/style.scss */
#slides {
  position: relative;
  background-color: #495259;
}

/* line 492, ../sass/style.scss */
.slide {
  position: relative;
  width: 100%;
}
/* line 498, ../sass/style.scss */
.slide .inner {
  display: block;
  vertical-align: middle;
  min-height: 100vh;
  position: relative;
  padding: 80px;
}
@media (max-width: 1200px) {
  /* line 509, ../sass/style.scss */
  .slide .inner {
    vertical-align: top;
  }
}
@media (max-width: 1080px) {
  /* line 515, ../sass/style.scss */
  .slide .inner {
    vertical-align: top;
  }
}
/* line 527, ../sass/style.scss */
.slide p {
  color: #fff;
  font-size: 6em;
  line-height: 100px;
  max-width: 1200px;
}
@media (max-width: 1200px) {
  /* line 527, ../sass/style.scss */
  .slide p {
    font-size: 5em;
    line-height: 80px;
  }
}
@media (max-width: 1080px) {
  /* line 527, ../sass/style.scss */
  .slide p {
    font-size: 4em;
    line-height: 60px;
  }
}
@media (max-width: 700px) {
  /* line 527, ../sass/style.scss */
  .slide p {
    font-size: 3em;
    line-height: 50px;
  }
}
/* line 551, ../sass/style.scss */
.slide .more {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

/* line 559, ../sass/style.scss */
.more {
  font-weight: 800;
  color: #fff;
  font-size: 3em;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}
/* line 568, ../sass/style.scss */
.more .arrow-down {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  display: block;
  margin-top: 30px;
}
/* line 577, ../sass/style.scss */
.more .arrow-down span {
  font-weight: 400;
}
@media (max-width: 1200px) {
  /* line 559, ../sass/style.scss */
  .more {
    width: 100%;
    right: 0;
  }
}

/* line 598, ../sass/style.scss */
.click-here {
  max-width: 170px;
  position: relative;
  bottom: 100px;
  left: 100px;
}

/* line 606, ../sass/style.scss */
#slides #slide-1 {
  background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  height: 100vh;
}
@media (max-width: 700px) {
  /* line 606, ../sass/style.scss */
  #slides #slide-1 {
    background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 613, ../sass/style.scss */
#slides #slide-1 .inner {
  padding: 0 80px;
  display: table-cell;
}

/* line 625, ../sass/style.scss */
#slide-2 {
  background: url("../images/BH-camera-bracelet.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 625, ../sass/style.scss */
  #slide-2 {
    background: url("../images/BH-camera-bracelet.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 628, ../sass/style.scss */
#slide-2 .inner {
  padding-bottom: 300px;
}

/* line 633, ../sass/style.scss */
#slide-3 {
  background: url("../images/intro/BH-show.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 633, ../sass/style.scss */
  #slide-3 {
    background: url("../images/intro/BH-show.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 636, ../sass/style.scss */
#slide-3 .inner {
  padding-bottom: 300px;
}

/* line 641, ../sass/style.scss */
#slide-4 {
  background: url("../images/BH-Bringhub-Demo-Devices.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 641, ../sass/style.scss */
  #slide-4 {
    background: url("../images/BH-Bringhub-Demo-Devices.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 644, ../sass/style.scss */
#slide-4 .inner {
  vertical-align: bottom !important;
}

/* line 649, ../sass/style.scss */
#slide-5 {
  background-color: #80b1d2;
}

/* line 653, ../sass/style.scss */
.arrows {
  color: #fff;
}
/* line 657, ../sass/style.scss */
.arrows span {
  font-weight: 400;
}

/* FORMS
-------------------------------------------------------------- */
/* line 665, ../sass/style.scss */
form {
  max-width: 600px;
  margin: auto;
  margin-top: 80px;
}

/* line 671, ../sass/style.scss */
label {
  font-size: 1.5em;
  display: block;
}

/* line 677, ../sass/style.scss */
input[type='text'],
input[type='url'],
input[type='email'],
textarea {
  width: 100%;
  border: none;
  font-size: 1em;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #495259;
  background-color: #dfeffa;
}
/* line 689, ../sass/style.scss */
input[type='text']:focus,
input[type='url']:focus,
input[type='email']:focus,
textarea:focus {
  background-color: #fff;
}

/* line 694, ../sass/style.scss */
select {
  width: 50%;
  font-family: "Open Sans", sans-serif;
  color: #495259;
}

/* line 701, ../sass/style.scss */
.form-item {
  margin-bottom: 20px;
}

/* line 705, ../sass/style.scss */
.form-group {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.form-group:after {
  content: "";
  display: table;
  clear: both;
}
/* line 708, ../sass/style.scss */
.form-group .left,
.form-group .right {
  width: 50%;
  float: left;
}
/* line 714, ../sass/style.scss */
.form-group .left {
  padding-right: 20px;
}
/* line 718, ../sass/style.scss */
.form-group .right {
  padding-left: 20px;
}

/* line 724, ../sass/style.scss */
.actions {
  text-align: center;
  margin-top: 20px;
}

/* line 729, ../sass/style.scss */
input[type='submit'] {
  font-family: "Open Sans", sans-serif;
  background: none;
  border: none;
  font-size: 3em;
  color: #80b1d2;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #495259;
  padding: 10px 30px;
}
/* line 741, ../sass/style.scss */
input[type='submit']:hover {
  background-color: #fff;
  color: #495259;
}

/* line 748, ../sass/style.scss */
.text-center {
  text-align: center !important;
}
