/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/lato-regular.eot");
  src: url("../fonts/lato-regular.eot") format("embedded-opentype"), url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.ttf") format("truetype"), url("../fonts/lato-regular.svg#LatoBold") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LatoItalic';
  src: url("../fonts/lato-italic.eot");
  src: url("../fonts/lato-italic.eot") format("embedded-opentype"), url("../fonts/lato-italic.woff") format("woff"), url("../fonts/lato-italic.ttf") format("truetype"), url("../fonts/lato-italic.svg#LatoBold") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/lato-light.eot");
  src: url("../fonts/lato-light.eot") format("embedded-opentype"), url("../fonts/lato-light.woff") format("woff"), url("../fonts/lato-light.ttf") format("truetype"), url("../fonts/lato-light.svg#LatoLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLightItalic';
  src: url("../fonts/lato-lightitalic.eot");
  src: url("../fonts/lato-lightitalic.eot") format("embedded-opentype"), url("../fonts/lato-lightitalic.woff") format("woff"), url("../fonts/lato-lightitalic.ttf") format("truetype"), url("../fonts/lato-lightitalic.svg#LatoLightItalic") format("svg");
}
@font-face {
  font-family: 'LatoHairline';
  src: url("../fonts/lato-hairline.eot");
  src: url("../fonts/lato-hairline.eot") format("embedded-opentype"), url("../fonts/lato-hairline.woff") format("woff"), url("../fonts/lato-hairline.ttf") format("truetype"), url("../fonts/lato-hairline.svg#LatoBold") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'LatoHairlineItalic';
  src: url("../fonts/lato-hairlineitalic.eot");
  src: url("../fonts/lato-hairlineitalic.eot") format("embedded-opentype"), url("../fonts/lato-hairlineitalic.woff") format("woff"), url("../fonts/lato-hairlineitalic.ttf") format("truetype"), url("../fonts/lato-hairlineitalic.svg#LatoBold") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'base';
  src: url("../fonts/base.eot?1o50p");
  src: url("../fonts/base.eot?#iefix1o50p") format("embedded-opentype"), url("../fonts/base.woff?1o50p") format("woff"), url("../fonts/base.ttf?1o50p") format("truetype"), url("../fonts/base.svg?1o50p#base") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_icons.scss */
[class^="icon-"],
[class*=" icon-"],
a.service-links-twitter,
a.service-links-facebook,
a.service-links-google-plus {
  font-family: 'base';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 29, ../sass/_icons.scss */
[class^="icon-"] img,
[class*=" icon-"] img,
a.service-links-twitter img,
a.service-links-facebook img,
a.service-links-google-plus img {
  display: none;
}

/* line 34, ../sass/_icons.scss */
.icon-cart:before {
  content: "\e610";
}

/* line 37, ../sass/_icons.scss */
.icon-bubble:before {
  content: "\e611";
}

/* line 40, ../sass/_icons.scss */
.icon-cog:before {
  content: "\e612";
}

/* line 43, ../sass/_icons.scss */
.icon-close:before {
  content: "\e613";
}

/* line 46, ../sass/_icons.scss */
.icon-checkmark:before {
  content: "\e614";
}

/* line 49, ../sass/_icons.scss */
.icon-minus:before {
  content: "\e615";
}

/* line 52, ../sass/_icons.scss */
.icon-plus:before {
  content: "\e616";
}

/* line 55, ../sass/_icons.scss */
.icon-feed:before {
  content: "\e601";
}

/* line 58, ../sass/_icons.scss */
.icon-youtube:before {
  content: "\e602";
}

/* line 61, ../sass/_icons.scss */
.icon-vimeo:before {
  content: "\e603";
}

/* line 64, ../sass/_icons.scss */
.icon-apple:before {
  content: "\e604";
}

/* line 67, ../sass/_icons.scss */
.icon-amazon:before {
  content: "\e605";
}

/* line 70, ../sass/_icons.scss */
.icon-mail:before {
  content: "\e606";
}

/* line 73, ../sass/_icons.scss */
.icon-heart:before {
  content: "\e617";
}

/* line 76, ../sass/_icons.scss */
.icon-heart2:before {
  content: "\e618";
}

/* line 79, ../sass/_icons.scss */
.icon-search:before {
  content: "\e619";
}

/* line 82, ../sass/_icons.scss */
.icon-list:before {
  content: "\e60f";
}

/* line 85, ../sass/_icons.scss */
.icon-play:before {
  content: "\e61a";
}

/* line 88, ../sass/_icons.scss */
.icon-pause:before {
  content: "\e61b";
}

/* line 91, ../sass/_icons.scss */
.icon-stop:before {
  content: "\e61c";
}

/* line 94, ../sass/_icons.scss */
.icon-next:before {
  content: "\e61d";
}

/* line 97, ../sass/_icons.scss */
.icon-previous:before {
  content: "\e61e";
}

/* line 100, ../sass/_icons.scss */
.icon-first:before {
  content: "\e61f";
}

/* line 103, ../sass/_icons.scss */
.icon-last:before {
  content: "\e620";
}

/* line 106, ../sass/_icons.scss */
.icon-resize-enlarge:before {
  content: "\e621";
}

/* line 109, ../sass/_icons.scss */
.icon-resize-shrink:before {
  content: "\e622";
}

/* line 112, ../sass/_icons.scss */
.icon-sound:before {
  content: "\e623";
}

/* line 115, ../sass/_icons.scss */
.icon-mute:before {
  content: "\e624";
}

/* line 118, ../sass/_icons.scss */
.icon-arrow-left:before {
  content: "\e625";
}

/* line 121, ../sass/_icons.scss */
.icon-arrow-down:before {
  content: "\e626";
}

/* line 124, ../sass/_icons.scss */
.icon-arrow-up:before {
  content: "\e627";
}

/* line 127, ../sass/_icons.scss */
.icon-arrow-right:before {
  content: "\e628";
}

/* line 130, ../sass/_icons.scss */
.icon-flickr:before {
  content: "\e607";
}

/* line 133, ../sass/_icons.scss */
.icon-twitter:before,
a.service-links-twitter:before {
  content: "\e608";
}

/* line 137, ../sass/_icons.scss */
.icon-facebook:before,
a.service-links-facebook:before {
  content: "\e609";
}

/* line 141, ../sass/_icons.scss */
.icon-googleplus:before,
a.service-links-google-plus:before {
  content: "\e60a";
}

/* line 145, ../sass/_icons.scss */
.icon-pinterest:before {
  content: "\e60b";
}

/* line 148, ../sass/_icons.scss */
.icon-tumblr:before {
  content: "\e60c";
}

/* line 151, ../sass/_icons.scss */
.icon-linkedin:before {
  content: "\e629";
}

/* line 154, ../sass/_icons.scss */
.icon-spotify:before {
  content: "\e600";
}

/* line 157, ../sass/_icons.scss */
.icon-instagram:before {
  content: "\e60d";
}

/* line 160, ../sass/_icons.scss */
.icon-soundcloud:before {
  content: "\e60e";
}

/* line 167, ../sass/_icons.scss */
.block-btns a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 170, ../sass/_icons.scss */
.block-btns a:hover {
  color: #fff !important;
}
/* line 175, ../sass/_icons.scss */
.block-btns .icon-vimeo:hover {
  background-color: #aad450;
}
/* line 178, ../sass/_icons.scss */
.block-btns .icon-twitter:hover {
  background-color: #00aced;
}
/* line 181, ../sass/_icons.scss */
.block-btns .icon-facebook:hover {
  background-color: #3b5998;
}
/* line 184, ../sass/_icons.scss */
.block-btns .icon-googleplus:hover {
  background-color: #dd4b39;
}
/* line 187, ../sass/_icons.scss */
.block-btns .icon-pinterest:hover {
  background-color: #cb2027;
}
/* line 190, ../sass/_icons.scss */
.block-btns .icon-instagram:hover {
  background-color: #517fa4;
}

/* VARS 
-------------------------------------------------------------- */
/*  COLORS  */
/*  TYPOGROPHY */
/*  FAKE TYPOGROPHY */
/*  TRANSITIONS  */
/* MIX-INS 
-------------------------------------------------------------- */
/* PLACEHOLDERS & EXTENDS
-------------------------------------------------------------- */
/* line 84, ../sass/_base.scss */
#nav a, .more a {
  color: #fff;
}
/* line 87, ../sass/_base.scss */
#nav a:hover, .more a:hover {
  color: #80b1d2;
}

/* line 92, ../sass/_base.scss */
#nav .cta-btn {
  color: #495259;
}
/* line 95, ../sass/_base.scss */
#nav .cta-btn:hover {
  color: #fff;
}

/* line 100, ../sass/_base.scss */
#footer a {
  color: #80b1d2;
}
/* line 103, ../sass/_base.scss */
#footer a:hover {
  color: #fff;
}

/* line 108, ../sass/_base.scss */
h1, h2, h3, h4, #nav a, .btns .btn, #footer .label, .slide p, .arrows, label, input[type='submit'] {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

/* BASIC STYLES
-------------------------------------------------------------- */
/* line 10, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 13, ../sass/style.scss */
* img {
  max-width: 100%;
  height: auto;
}

/* line 19, ../sass/style.scss */
body {
  font: 16px/1.5 "Open Sans", sans-serif;
  background-color: #fff;
  color: #495259;
}

/* line 25, ../sass/style.scss */
a {
  color: #80b1d2;
  text-decoration: none;
}
/* line 29, ../sass/style.scss */
a:hover {
  color: #495259;
}

/* line 35, ../sass/style.scss */
ul,
ul.menu,
ul.menu li {
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/style.scss */
h1 span, h2 span, h3 span, h4 span {
  font-style: italic;
}

/* line 52, ../sass/style.scss */
h1 {
  font-size: 4em;
  text-align: center;
  line-height: 60px;
}
@media (max-width: 700px) {
  /* line 52, ../sass/style.scss */
  h1 {
    font-size: 1.5em;
    line-height: 30px;
  }
}

/* line 63, ../sass/style.scss */
h2 {
  font-size: 3em;
}

/* line 67, ../sass/style.scss */
h3 {
  font-size: 2em;
  text-align: center;
}
@media (max-width: 700px) {
  /* line 67, ../sass/style.scss */
  h3 {
    font-size: 1.2em;
    line-height: 30px;
  }
}

/* line 77, ../sass/style.scss */
.fancy {
  font-style: italic;
}

/* line 81, ../sass/style.scss */
p .highlight {
  font-weight: 700;
}

/* Icons
-------------------------------------------------------------- */
/* line 87, ../sass/style.scss */
.icons.header,
.icons.footer {
  text-align: center;
  font-size: 8em;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 700px) {
  /* line 87, ../sass/style.scss */
  .icons.header,
  .icons.footer {
    font-size: 4em;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

/* line 102, ../sass/style.scss */
.icons.footer {
  margin-bottom: 0;
  margin-top: 40px;
}
@media (max-width: 700px) {
  /* line 102, ../sass/style.scss */
  .icons.footer {
    font-size: 4em;
    line-height: 30px;
    margin-top: 20px;
  }
}

/* line 113, ../sass/style.scss */
.icons.small {
  text-align: center;
  font-size: 4em;
  margin-top: 40px;
}
@media (max-width: 700px) {
  /* line 113, ../sass/style.scss */
  .icons.small {
    font-size: 4em;
    line-height: 30px;
    margin-top: 20px;
  }
}

/* Header
-------------------------------------------------------------- */
/* line 129, ../sass/style.scss */
#header {
  background-color: #495259;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
@media (max-width: 1080px) {
  /* line 129, ../sass/style.scss */
  #header {
    height: 50px;
    line-height: 50px;
  }
}

/* line 151, ../sass/style.scss */
#logo {
  float: left;
  width: 230px;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 200;
}
/* line 159, ../sass/style.scss */
#logo span {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  width: 300px;
  height: 300px;
  background-color: #495259;
  display: block;
  position: absolute;
  top: -200px;
  left: -30px;
  z-index: -1;
}
@media (max-width: 1080px) {
  /* line 151, ../sass/style.scss */
  #logo {
    width: 180px;
    padding-left: 10px;
    padding-top: 10px;
  }
  /* line 177, ../sass/style.scss */
  #logo span {
    width: 200px;
    height: 200px;
    top: -130px;
    left: -10px;
  }
}

/* line 186, ../sass/style.scss */
#nav {
  *zoom: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: right;
  position: relative;
  top: 0;
  right: 0;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 198, ../sass/style.scss */
#nav li {
  float: left;
}
/* line 203, ../sass/style.scss */
#nav a {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  display: block;
  padding: 0 20px;
}
/* line 214, ../sass/style.scss */
#nav a.active {
  color: #80b1d2;
}
/* line 219, ../sass/style.scss */
#nav .cta-btn {
  background-color: #80b1d2;
  padding: 0 40px;
  margin-left: 20px;
}
@media (max-width: 1080px) {
  /* line 186, ../sass/style.scss */
  #nav {
    background-color: #3e454b;
    text-align: center;
    width: 100%;
    position: absolute;
    margin: 0;
    padding-top: 10px;
    z-index: 1;
    top: -300px;
  }
  /* line 236, ../sass/style.scss */
  #nav li {
    display: block;
    float: none;
    margin-right: 0;
  }
  /* line 242, ../sass/style.scss */
  #nav .cta-btn {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* line 251, ../sass/style.scss */
body.nav-open #nav {
  top: 0;
}
@media (max-width: 1080px) {
  /* line 256, ../sass/style.scss */
  body.nav-open #nav {
    top: 50px;
  }
}

/* line 262, ../sass/style.scss */
.menu-toggle {
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #80b1d2;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  z-index: 100;
}
/* line 278, ../sass/style.scss */
.menu-toggle:hover {
  background-color: #495259;
}
@media (max-width: 1080px) {
  /* line 262, ../sass/style.scss */
  .menu-toggle {
    display: block;
  }
}

/* CONTENT
-------------------------------------------------------------- */
/* line 291, ../sass/style.scss */
#content {
  padding-top: 80px;
}
/* line 294, ../sass/style.scss */
#content .header-image {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #80b1d2;
}
/* line 303, ../sass/style.scss */
#content .section .inner {
  max-width: 1200px;
  margin: auto;
  padding: 80px;
}
/* line 313, ../sass/style.scss */
#content .section p {
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  text-align: justify;
  font-size: 1.2em;
}
/* line 321, ../sass/style.scss */
#content .section h3, #content .section p {
  margin-top: 40px;
}
@media (max-width: 1080px) {
  /* line 291, ../sass/style.scss */
  #content {
    padding-top: 50px;
  }
}
@media (max-width: 700px) {
  /* line 336, ../sass/style.scss */
  #content .section .inner {
    padding: 80px 20px;
  }
  /* line 340, ../sass/style.scss */
  #content .section h3, #content .section p {
    margin-top: 20px;
  }
  /* line 344, ../sass/style.scss */
  #content .section p {
    text-align: left;
    font-size: 1em;
  }
}

/* line 352, ../sass/style.scss */
.front #content {
  padding-top: 0;
}

/* line 356, ../sass/style.scss */
.bg-dk {
  background-color: #495259;
  color: #fff;
}

/* line 361, ../sass/style.scss */
.bg-lt {
  background-color: #cad2d7;
}

/* line 365, ../sass/style.scss */
.bg-accent {
  background-color: #80b1d2;
}

/* line 369, ../sass/style.scss */
.bg-med {
  background-color: #dfeffa;
}

/* line 373, ../sass/style.scss */
.image-divider {
  position: relative;
  height: 60vh;
  border-top: #80b1d2 solid 20px;
  border-bottom: #80b1d2 solid 20px;
}

/* line 380, ../sass/style.scss */
.btns {
  text-align: center;
  margin-top: 40px;
}
/* line 383, ../sass/style.scss */
.btns .btn {
  font-family: "Open Sans", sans-serif;
  background: none;
  border: none;
  font-size: 2em;
  color: #495259;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #80b1d2;
  padding: 10px 30px;
  margin: 20px;
}
/* line 396, ../sass/style.scss */
.btns .btn:hover {
  background-color: #fff;
  color: #495259;
}

/* COMIC
-------------------------------------------------------------- */
/* line 407, ../sass/style.scss */
#comic {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#comic:after {
  content: "";
  display: table;
  clear: both;
}
/* line 410, ../sass/style.scss */
#comic .cell {
  width: 25%;
  float: left;
  position: relative;
}
/* line 416, ../sass/style.scss */
#comic .caption {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 2em;
}
@media (max-width: 1080px) {
  /* line 427, ../sass/style.scss */
  #comic .caption {
    font-size: 1.5em;
  }
}
@media (max-width: 700px) {
  /* line 433, ../sass/style.scss */
  #comic .cell {
    width: 100%;
  }
  /* line 437, ../sass/style.scss */
  #comic .caption {
    font-size: 1.5em;
    padding: 20px 10px;
  }
}

/* line 444, ../sass/style.scss */
#cell-1 {
  background-color: #4f6d83;
}

/* line 448, ../sass/style.scss */
#cell-2 {
  background-color: #82b0d0;
}

/* line 452, ../sass/style.scss */
#cell-3 {
  background-color: #006fa0;
}

/* line 456, ../sass/style.scss */
#cell-4 {
  background-color: #4395c0;
}

/* Publisher
-------------------------------------------------------------- */
/* line 466, ../sass/style.scss */
.image-divider {
  display: table;
  width: 100%;
}
/* line 470, ../sass/style.scss */
.image-divider .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
/* line 476, ../sass/style.scss */
.image-divider .inner p {
  font-weight: 800;
  color: #fff;
  font-size: 4em;
  text-transform: uppercase;
}

/* line 485, ../sass/style.scss */
#pub-divider-1 {
  background: url("../images/BH-station.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 485, ../sass/style.scss */
  #pub-divider-1 {
    background: url("../images/BH-station.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* line 489, ../sass/style.scss */
#pub-divider-2 {
  background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 489, ../sass/style.scss */
  #pub-divider-2 {
    background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* Retailer
-------------------------------------------------------------- */
/* line 496, ../sass/style.scss */
#re-divider-1 {
  background: url("../images/BH-station.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 496, ../sass/style.scss */
  #re-divider-1 {
    background: url("../images/BH-station.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* line 500, ../sass/style.scss */
#re-divider-2 {
  background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 500, ../sass/style.scss */
  #re-divider-2 {
    background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* About
-------------------------------------------------------------- */
/* line 509, ../sass/style.scss */
body.about .header-image {
  background: url(../images/BH-about-header.jpg) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 518, ../sass/style.scss */
.members,
.investors {
  *zoom: 1;
  margin-top: 40px;
  text-align: center;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.members:after,
.investors:after {
  content: "";
  display: table;
  clear: both;
}

/* line 525, ../sass/style.scss */
.member {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-width: 33%;
  padding: 20px;
}
/* line 530, ../sass/style.scss */
.member .image {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 535, ../sass/style.scss */
.member .image img {
  width: 100%;
  height: auto;
}
/* line 541, ../sass/style.scss */
.member h2 {
  font-size: 1.5em;
  text-align: center;
}
/* line 546, ../sass/style.scss */
.member h3 {
  font-size: .8em;
  font-weight: 400;
  margin-top: 0 !important;
}
@media (max-width: 1080px) {
  /* line 525, ../sass/style.scss */
  .member {
    max-width: 49%;
  }
}
@media (max-width: 700px) {
  /* line 525, ../sass/style.scss */
  .member {
    max-width: 100%;
    float: none;
    margin-bottom: 20px;
    padding: 0;
    margin-bottom: 40px;
  }
  /* line 563, ../sass/style.scss */
  .member p {
    margin-top: 10px !important;
  }
}

/* line 570, ../sass/style.scss */
.investor {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 160px;
  padding: 40px;
}
/* line 575, ../sass/style.scss */
.investor img {
  height: 100%;
  width: auto;
}

/* FOOTER
-------------------------------------------------------------- */
/* line 584, ../sass/style.scss */
#footer {
  color: #fff;
  text-align: center;
  background-color: #495259;
}
/* line 590, ../sass/style.scss */
#footer h3 {
  color: #fff;
  text-align: left;
}
@media (max-width: 1080px) {
  /* line 590, ../sass/style.scss */
  #footer h3 {
    text-align: center;
  }
}
/* line 599, ../sass/style.scss */
#footer a {
  font-weight: 400;
}
/* line 604, ../sass/style.scss */
#footer li {
  margin-top: 10px;
}
/* line 608, ../sass/style.scss */
#footer .label {
  color: #fff;
}
/* line 613, ../sass/style.scss */
#footer .inner {
  padding: 80px 20px;
  *zoom: 1;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#footer .inner:after {
  content: "";
  display: table;
  clear: both;
}
/* line 624, ../sass/style.scss */
#footer .social-icons {
  font-size: 4em;
}
/* line 628, ../sass/style.scss */
#footer .section {
  width: 33.3%;
  float: left;
  text-align: left;
}
@media (max-width: 1080px) {
  /* line 628, ../sass/style.scss */
  #footer .section {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 40px;
  }
}
/* line 644, ../sass/style.scss */
#footer .section.logo {
  width: 10%;
  display: none;
  margin-bottom: 40px;
}
/* line 649, ../sass/style.scss */
#footer .section.logo img {
  width: 100px;
}
/* line 655, ../sass/style.scss */
#footer .section + .section {
  margin-top: 20px;
}

/* line 660, ../sass/style.scss */
#copy {
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  background-color: #3e454b;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* INTRO
-------------------------------------------------------------- */
/* line 673, ../sass/style.scss */
#slides {
  position: relative;
  background-color: #495259;
}

/* line 679, ../sass/style.scss */
.slide {
  position: relative;
  width: 100%;
}
/* line 685, ../sass/style.scss */
.slide .inner {
  display: block;
  vertical-align: middle;
  min-height: 100vh;
  position: relative;
  padding: 160px 80px 80px;
}
/* line 696, ../sass/style.scss */
.slide.short .inner {
  padding: 0;
  position: relative;
}
/* line 702, ../sass/style.scss */
.slide.short p {
  color: #fff !important;
  background-color: #495259;
  text-align: center;
  width: 100%;
  max-width: 100%;
  font-size: 3em;
}
@media (max-width: 700px) {
  /* line 679, ../sass/style.scss */
  .slide {
    display: block;
  }
  /* line 731, ../sass/style.scss */
  .slide .inner {
    display: block;
    padding: 100px 20px 20px;
  }
}
/* line 738, ../sass/style.scss */
.slide p {
  color: #fff;
  font-size: 6em;
  line-height: 100px;
  max-width: 1200px;
}
@media (max-width: 1200px) {
  /* line 738, ../sass/style.scss */
  .slide p {
    font-size: 5em;
    line-height: 80px;
  }
}
@media (max-width: 1080px) {
  /* line 738, ../sass/style.scss */
  .slide p {
    font-size: 4em;
    line-height: 60px;
  }
}
@media (max-width: 700px) {
  /* line 738, ../sass/style.scss */
  .slide p {
    font-size: 2em;
    line-height: 50px;
  }
}
/* line 762, ../sass/style.scss */
.slide .more {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

/* line 770, ../sass/style.scss */
.more {
  font-weight: 800;
  color: #fff;
  font-size: 3em;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}
/* line 783, ../sass/style.scss */
.more .arrow-down {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  display: block;
  margin-top: 30px;
}
/* line 792, ../sass/style.scss */
.more .arrow-down span {
  font-weight: 400;
}
@media (max-width: 1200px) {
  /* line 770, ../sass/style.scss */
  .more {
    width: 100%;
    right: 0;
  }
}
@media (max-width: 700px) {
  /* line 770, ../sass/style.scss */
  .more {
    font-size: 2em;
    line-height: 30px;
  }
}

/* line 814, ../sass/style.scss */
.click-here {
  max-width: 170px;
  position: relative;
  bottom: 100px;
  left: 100px;
}

/* line 822, ../sass/style.scss */
#slides #slide-1 {
  background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  height: 100vh;
}
@media (max-width: 700px) {
  /* line 822, ../sass/style.scss */
  #slides #slide-1 {
    background: url("../images/BH-corduroy-jacket.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 827, ../sass/style.scss */
#slides #slide-1 .inner {
  padding: 0 80px;
  display: table-cell;
}
@media (max-width: 700px) {
  /* line 822, ../sass/style.scss */
  #slides #slide-1 {
    display: block;
  }
  /* line 835, ../sass/style.scss */
  #slides #slide-1 .inner {
    height: 100vh;
    display: block;
    padding: 100px 20px 20px;
  }
}

/* line 844, ../sass/style.scss */
#slide-2 {
  background: url("../images/BH-camera-bracelet.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 844, ../sass/style.scss */
  #slide-2 {
    background: url("../images/BH-camera-bracelet.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 847, ../sass/style.scss */
#slide-2 .inner {
  padding-bottom: 300px;
}
@media (max-width: 700px) {
  /* line 847, ../sass/style.scss */
  #slide-2 .inner {
    padding-bottom: 200px;
  }
}

/* line 856, ../sass/style.scss */
#slide-3 {
  background: url("../images/intro/BH-show.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 856, ../sass/style.scss */
  #slide-3 {
    background: url("../images/intro/BH-show.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 859, ../sass/style.scss */
#slide-3 .inner {
  padding-bottom: 300px;
}
@media (max-width: 700px) {
  /* line 859, ../sass/style.scss */
  #slide-3 .inner {
    padding-bottom: 200px;
  }
}

/* line 868, ../sass/style.scss */
#slide-4 {
  background: url("../images/BH-imac.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 868, ../sass/style.scss */
  #slide-4 {
    background: url("../images/BH-imac.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 884, ../sass/style.scss */
#slide-4 .inner {
  min-height: 80vh;
}

/* line 889, ../sass/style.scss */
#slide-5 {
  background: url("../images/BH-ipad.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 889, ../sass/style.scss */
  #slide-5 {
    background: url("../images/BH-ipad.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 892, ../sass/style.scss */
#slide-5 .inner {
  min-height: 80vh;
}

/* line 898, ../sass/style.scss */
#slide-6 {
  background: url("../images/BH-iphone.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 700px) {
  /* line 898, ../sass/style.scss */
  #slide-6 {
    background: url("../images/BH-iphone.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 901, ../sass/style.scss */
#slide-6 .inner {
  min-height: 80vh;
}

/* line 911, ../sass/style.scss */
.arrows {
  color: #fff;
}
/* line 915, ../sass/style.scss */
.arrows span {
  font-weight: 400;
}

/* FORMS
-------------------------------------------------------------- */
/* line 923, ../sass/style.scss */
form {
  max-width: 600px;
  margin: auto;
  margin-top: 80px;
}
@media (max-width: 700px) {
  /* line 923, ../sass/style.scss */
  form {
    margin-top: 20px;
  }
}

/* line 933, ../sass/style.scss */
label {
  font-size: 1.5em;
  display: block;
}
@media (max-width: 700px) {
  /* line 933, ../sass/style.scss */
  label {
    font-size: 1em;
  }
}

/* line 944, ../sass/style.scss */
input[type='text'],
input[type='url'],
input[type='email'],
textarea {
  width: 100%;
  border: none;
  font-size: 1em;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #495259;
  background-color: #dfeffa;
}

/* line 958, ../sass/style.scss */
select {
  width: 50%;
  font-family: "Open Sans", sans-serif;
  color: #495259;
}

/* line 965, ../sass/style.scss */
.form-item {
  margin-bottom: 20px;
}

/* line 969, ../sass/style.scss */
.form-group {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.form-group:after {
  content: "";
  display: table;
  clear: both;
}
/* line 972, ../sass/style.scss */
.form-group .left,
.form-group .right {
  width: 50%;
  float: left;
}
/* line 978, ../sass/style.scss */
.form-group .left {
  padding-right: 20px;
}
/* line 982, ../sass/style.scss */
.form-group .right {
  padding-left: 20px;
}
@media (max-width: 700px) {
  /* line 987, ../sass/style.scss */
  .form-group .left,
  .form-group .right {
    float: none;
    padding: 0;
    width: 100%;
  }
}

/* line 997, ../sass/style.scss */
.actions {
  text-align: center;
  margin-top: 20px;
}

/* line 1002, ../sass/style.scss */
input[type='submit'] {
  font-family: "Open Sans", sans-serif;
  background: none;
  border: none;
  font-size: 3em;
  color: #80b1d2;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #495259;
  padding: 10px 30px;
}
/* line 1014, ../sass/style.scss */
input[type='submit']:hover {
  background-color: #fff;
  color: #495259;
}

/* line 1021, ../sass/style.scss */
.text-center {
  text-align: center !important;
}

/* FAKE ARTICLE
-------------------------------------------------------------- */
/* line 1028, ../sass/style.scss */
#fake-holder {
  padding: 0;
  font-family: "Georgia", sans-serif;
  color: #333;
  margin-bottom: 60px;
}

/* line 1036, ../sass/style.scss */
#fake-article {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#fake-article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 1039, ../sass/style.scss */
#fake-article .content {
  max-width: 1000px;
  margin: auto;
}
/* line 1044, ../sass/style.scss */
#fake-article .header {
  background-color: #eee;
  padding: 60px 0;
}
/* line 1049, ../sass/style.scss */
#fake-article .logo {
  max-width: 600px;
  margin: 0 auto;
}
/* line 1059, ../sass/style.scss */
#fake-article .nav {
  padding: 10px 0;
  margin-bottom: 40px;
  background-color: #333;
}
/* line 1064, ../sass/style.scss */
#fake-article .nav .inner {
  max-width: 1000px;
  margin: auto;
}
/* line 1069, ../sass/style.scss */
#fake-article .nav li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 20px;
}
/* line 1074, ../sass/style.scss */
#fake-article .nav a {
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Bebas", serif;
}
/* line 1082, ../sass/style.scss */
#fake-article .nav .icon-search {
  float: right;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 24px;
  padding-right: 10px;
}
/* line 1091, ../sass/style.scss */
#fake-article .meta {
  padding: 0;
  font-size: 18px;
  color: #999;
  font-family: "Bebas", serif;
}
/* line 1098, ../sass/style.scss */
#fake-article h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-transform: none;
  text-align: left;
  margin: 0;
  letter-spacing: 1px;
}
/* line 1108, ../sass/style.scss */
#fake-article h2 {
  font-family: "LatoLight", sans-serif;
  text-transform: none;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 40px;
}
/* line 1116, ../sass/style.scss */
#fake-article p {
  margin-bottom: 20px;
}
/* line 1121, ../sass/style.scss */
#fake-article .main {
  width: 85%;
  float: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
/* line 1128, ../sass/style.scss */
#fake-article .body {
  max-width: 600px;
  border-bottom: #DA322A 5px solid;
}
/* line 1133, ../sass/style.scss */
#fake-article .side {
  width: 15%;
  float: left;
}
/* line 1140, ../sass/style.scss */
#fake-article .fake-social div {
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}
/* line 1145, ../sass/style.scss */
#fake-article .fake-social div span {
  font-family: "Bebas", serif;
  margin-left: 10px;
  font-size: 1.2em;
}
/* line 1152, ../sass/style.scss */
#fake-article .fake-social .icon-facebook {
  background-color: #3b5998;
}
/* line 1156, ../sass/style.scss */
#fake-article .fake-social .icon-twitter {
  background-color: #00aced;
}
/* line 1160, ../sass/style.scss */
#fake-article .fake-social .icon-pinterest {
  background-color: #c92228;
}
/* line 1166, ../sass/style.scss */
#fake-article .image {
  position: relative;
  margin-bottom: 20px;
}
/* line 1171, ../sass/style.scss */
#fake-article .shares {
  text-align: center;
  font-family: "Bebas", serif;
  font-size: 1em;
  margin: 20px 0;
}
/* line 1177, ../sass/style.scss */
#fake-article .shares span {
  font-size: 4em;
  display: block;
  line-height: 50px;
}
/* line 1185, ../sass/style.scss */
#fake-article .shop {
  top: 20px;
  left: 20px;
  position: absolute;
  text-align: center;
}
/* line 1191, ../sass/style.scss */
#fake-article .shop a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-color: #fff;
  color: #333;
  font-family: "Bebas", serif;
  letter-spacing: 2px;
  display: block;
  padding: 10px 20px;
  font-size: 20px;
}
