@import "compass";
@import "_reset";
@import "_fonts";
@import "_icons";
@import "_bh_icons";
@import "_base";

/* BASIC STYLES
-------------------------------------------------------------- */
*{
  @include box-sizing('border-box');

  img{
    max-width: 100%;
    height: auto;
  }
}

body{
  font: 16px/1.5 $font_main;
  background-color: $page_bg;  
  color: $color_main;
}

a{
  color: $color_accent;
  text-decoration: none;
  
  &:hover{
    color: $color_main;
  }
}


ul,
ul.menu,
ul.menu li{
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
  @extend %header_font;

  span{
    font-style: italic;
  }
}

h1{
  font-size: 4em;
  text-align: center;
  line-height: 60px;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
  text-align: center;
}

.fancy{
  font-style: italic;
}

/* Icons
-------------------------------------------------------------- */
.icons.header{
  text-align: center;
  font-size: 8em;
  margin-bottom: 40px;
}



/* Header
-------------------------------------------------------------- */
#header{
  @include box-shadow;
  background-color: $color_main;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  line-height: 80px;
  
  @include bp(m){
    // position: relative;
  }

  @include bp(m){
    height: 50px;
    line-height: 50px;
  }

}

#logo{
  float: left;
  width: 230px;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 200;

  span{
    @include border-radius(200px);
     // @include box-shadow;
    width: 300px;
    height: 300px;
    background-color: $color_main;
    display: block;
    position: absolute;
    top: -200px;
    left: -30px;
    z-index: - 1;
  }

  @include bp(m){
    width: 180px;
    padding-left: 10px;
    padding-top: 10px;

    span{
      width: 200px;
      height: 200px;
      top: -130px;
      left: -10px;
    }
  }
}

#nav{
  @include pie-clearfix;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: right;
  position: relative;
  top: 0;
  right: 0;


	ul{}

	li{
    float: left;
    
  }

	a{
    @extend %header_font;
    @extend %a_lt;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    display: block;
    padding: 0 20px;

		&:hover{}

		&.active{
      color: $color_accent;
    }
	}

  .cta-btn{
    @extend %a_dk;
    background-color: $color_accent;
    padding: 0 40px;
    margin-left: 20px;
  }

  @include bp(m){
    background-color: darken($color_main, 5%);
    text-align: center;
    width: 100%;
    position: absolute;
    margin: 0;
    padding-top: 10px;
    z-index: 1;
    top: -300px;

    li{
      display: block;
      float: none;
      margin-right: 0;
    }

    .cta-btn{
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

body.nav-open{

  #nav{
    top: 0;
  }

   @include bp(m){
    #nav{
      top: 50px;
    }
   }
}

.menu-toggle{
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $color_accent;
  line-height: 50px;
  text-align: center;
  color: $color_lt;
  font-size: 2em;
  cursor: pointer;
  z-index: 100;

  &:hover{
    background-color: $color_main;
  }

  @include bp(m){
    display: block;
  }
}



/* CONTENT
-------------------------------------------------------------- */
#content{
  padding-top: 80px;

  .header-image{
    position: relative;
    height: 500px;
    width: 100%;
    background-color: $color_accent;
  }

  .section{
      
    .inner{
      max-width: $bp_lg;
     margin: auto;
      padding: 80px;
    }

    h1{
      // color: $color_accent;
    }

    p{
      max-width: 600px;
      margin: auto;
      margin-top: 40px;
      text-align: justify;
    }

    p + p,
    h3 + p,
    h1 + p,
    p + h3,
    h3{
      margin-top: 40px; 
    }

  }
}

.bg-dk{
  background-color: $color_main;
  color: $color_lt;
}

.bg-accent{
  background-color: $color_accent;
}

.bg-med{
  background-color: #dfeffa;
}

.image-divider{
  position: relative;
  height: 60vh;
  border-top: $color_accent solid 20px;
  border-bottom: $color_accent solid 20px;
}


/* COMIC
-------------------------------------------------------------- */
#comic{
  @include pie-clearfix;
}

.cell{
  width: 25%;
  height: 500px;
  float: left;
}

#cell-1{
  background-color: darken($color_accent, 5%);
}

#cell-2{
  background-color: darken($color_accent, 10%);
}

#cell-3{
  background-color: darken($color_accent, 15%);
}

#cell-4{
  background-color: darken($color_accent, 20%);
}


/* Publisher
-------------------------------------------------------------- */




#pub-divider-1{
  @include bg_full('../images/BH-demo.jpg');
}


/* About
-------------------------------------------------------------- */
body.about{

  .header-image{
    background: url(../images/BH-about-header.jpg) no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.members,
.investors{
  @include pie-clearfix;
  margin-top: 40px;
}

.member,
.investor{
  max-width: 33.3%;
  padding: 20px;
  float: left;

  .image{
    @include border-radius(200px);
    overflow: hidden;
    margin-bottom: 10px;

    img{
      width: 100%;
      height: auto;
    }
  }

  h2{
    font-size: 1.5em;
    text-align: center;
  }
  
  h3{
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 400;
  }

}

.investor{
  max-width: 25%;
}


/* FOOTER
-------------------------------------------------------------- */
#footer{

  text-align: center;
  background-color: $color_main;

  h3{
    color: $color_lt;
  }

  a{
    @extend %a_med;
    font-weight: 400;
  }

  li{
    margin-top: 10px;
  }

  .label{
    @extend %header_font;
    color: $color_lt;
  }

  .inner{
    padding: 80px;
    @include pie-clearfix;
  }

  .social-icons{
    font-size: 4em;
  }

  .section.logo{
    margin-bottom: 40px;

    img{
      width: 100px;
    }
    
  }

  .section + .section{
    margin-top: 20px;
  }
}

 #copy{
  text-transform: uppercase;
  padding: 20px;
  color: $color_lt;
  background-color: darken($color_main, 5%);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}


/* INTRO
-------------------------------------------------------------- */
#slides{
  position: relative;
  // height: 100vh;
  background-color: $color_main;

  .slide{
    position: relative;
    height: 100vh;
    display: table;
    width: 100%;

    .inner{
      display: table-cell;
      vertical-align: middle;
      position: relative;
    }

    @include bp(l){
      
      .inner{
        vertical-align: top;
      }
    }

    @include bp(m){
      .inner{
        vertical-align: top;
      }
    }

    @include bp(s){
      
      .inner{
      }
    }


    p{
      @extend %header_font;
      color: $color_lt;
      font-size: 6em;
      line-height: 100px;
      padding: 0 80px;
      max-width: 1200px;

      @include bp(l){
        font-size: 5em;
        line-height: 80px;
      }

      @include bp(m){
        font-size: 4em;
        line-height: 60px;
      }

      @include bp(s){
       font-size: 3em;
        line-height: 50px; 
      }
    }
  }

  .more{
    position: absolute;
    bottom: 70px;
    right: 90px;
  }
}

.more{
  
  font-weight: 800;
  color: $color_lt;
  font-size: 3em;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;

  .arrow-down{
    transform: rotate(90deg) ;
    -webkit-transform: rotate(90deg) ;
    -moz-transform: rotate(90deg) ;
    -o-transform: rotate(90deg) ;
    -ms-transform: rotate(90deg) ;
    display: block;
    margin-top: 30px;

    span{
      font-weight: 400;
    }
  }

  @include bp(l){
    width: 100%;
    right: 0;
  }

  @include bp(m){
    
  }

  @include bp(s){
    
  }


}

.click-here{
  max-width: 170px;
  position: relative;
  bottom: 100px;
  left: 100px;
}


#slide-1{
  @include bg_full('../images/intro/BH-fashion.jpg');
}

#slide-2{
  @include bg_full('../images/intro/BH-adventure.jpg');
}

#slide-3{
  @include bg_full('../images/intro/BH-show.jpg');
}

#slide-4{
  @include bg_full('../images/BH-demo.jpg');

  .inner{
    vertical-align: bottom !important;
  }
}

#slide-5{
  background-color: $color_accent;
}

.arrows{
  @extend %header_font;
  color: $color_lt;

  span{
    font-weight: 400;
  }
}


/* FORMS
-------------------------------------------------------------- */
form{
  max-width: 600px;
  margin: auto;
}

label{
  @extend %header_font;
  font-size: 1.5em;
  display: block;
}

input[type='text'],
input[type='url'],
input[type='email'],
textarea{
  width: 100%;
  border: none;
  font-size: 1em;
  padding: 10px;
  font-family: $font_main;
  color: $color_main;
  background-color: #dfeffa;

  &:focus{
    background-color: $color_lt;
  }
}

select{
  width: 50%;

  font-family: $font_main;
  color: $color_main;
}

.form-item{
  margin-bottom: 20px;
}

.form-group{
  @include pie-clearfix;

  .left,
  .right{
    width: 50%;
    float: left;
  }

  .left{
    padding-right: 20px;
  }

  .right{
    padding-left: 20px;
  }

}

.actions{
  text-align: center;
}

input[type='submit']{
  @extend %header_font;
  font-family: $font_main;
  background: none;
  border: none;
  font-size: 3em;
  color: $color_accent;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $color_main;
  padding: 10px 30px;

  &:hover{
    background-color: $color_lt;
    color: $color_main;
  }
}










